body {
  background-color: #fbf2d5;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.main-box {
  background: white;
  max-width: 450px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-box {
  background-color: rgba(237, 231, 231, 0.77);
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 8px 15px;
  margin-left: auto;
  display: inline;
  font-family: "Montserrat", sans-serif;
}

.search-button {
  background-color: #fdc57b;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 9%;
  margin-right: auto;
  display: inline;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.main-title {
  text-align: center;
  font-weight: 200;
}
img {
  width: 80%;
}

.current-description {
  font-size: 20px;
}
.current-details {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.current-information {
  text-align: left;
  line-height: 20px;
  margin-right: 50px;
  font-size: 15px;
  padding: 10px 0px 10px 0px;
}
.current-temperature-container {
  display: flex;
  margin-left: 50px;
}

.current-temperature-value {
  font-size: 50px;
  font-weight: 600;
}

.current-temperature-unit {
  padding-top: 10px;
}

.current-day {
  padding-top: 20px;
  font-weight: 200;
}

footer {
  margin: 40px 0px 0px 0px;
  font-size: 12px;
  font-weight: 200;
  color: orange;
}

a {
  color: orangered;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
